.button-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    list-style: none;
}

.buttons {
    background-color: #5fbac0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    width: 200px;
    height: 200px;
}

/* Modal background */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

/* Modal content box */
.modal-content {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  max-width: 500px;
  width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Close button */
.close-button {
  margin-top: 20px;
  padding: 8px 16px;
  background-color: #5fb2c0;
  border: none;
  color: white;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
}

.close-button:hover {
  background-color: #0077cc;
}

.subcat-button {
  background: none;
  border: none;
  text-align: left;
  padding: 10px 0;
  cursor: pointer;
  width: 100%;
  font-size: 1rem;
  color: #333;
}

.subcat-button:hover {
  color: #0077cc;
  text-decoration: underline;
}
